
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --cor-principal:#beed80;
    --cor-secundaria:#51647a;
    --cor-texto:#59d999;
    --cor-de-fundo:#453c5c;
    --fonte: "Dancing Script" ,sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte);
    height: 100vh;
    margin: 0;
}

.cabecalho{
    background-color: var();
}